* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-row-gap: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  margin: 1rem;
}

a {
  text-decoration: none;
}
